html {
    width: 100%;
}

body {
    background: rgb(11, 11, 11);
}

h1 {
    color: rgb(150, 150, 150);
    float: right;
    padding-right: 90px;
    padding-left: 40px;
    padding-bottom: 10px;
    width: 80%;
    text-decoration-line: underline;
    font-variant: small-caps;
    box-shadow: 2px 2px 5px rgb(200, 200, 200), -2px -2px 1px rgb(200, 200, 200);

}

div.gal_scene {
    /*position: relative;*/
    width: 93%;
    height: auto;
    padding: 20px;
    margin-top: 40px;
    margin-right: 10px;
    background-color: #333333;
    float: left;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

div.gal_button {
    float: left;
    /*   border: 1px solid #000000;*/
    margin: 1px;
    height: 100px;
    position: relative;


}

button.gal_button {
    width: 100px;
    margin: 5px 5px 5px 20px;
    background-color: #ff0000;

}

/*div.gal_button img.gal_img{
    opacity: .7
}*/
div.gal_enlarged {
    position: absolute;
    z-index: 700;
    overflow: hidden;
    background-color: #fdfdfd;
    /*border: 1px solid yellow;*/
    background-color: rgba(0, 0, 0, .7);
    cursor: move;
}



img.gal_close {
    float: right;
    cursor: pointer;
    /*border-left: 100px solid #000000;*/
    margin: 5px 5px auto 15px;

}


img.gal_left {
    float: right;
    cursor: pointer;

    margin: 5px 5px auto 8px;
}

img.gal_right {
    float: right;

    cursor: pointer;

    margin: 5px 5px auto 8px;
}





.gal_topEnlarged {

    width: 400px;
    height: 40px;
    /* margin-left: 15px; */
    background-color: rgba(0, 0, 0, .7);


}

.gal_imgWrapper {
    overflow: hidden;
    cursor: zoom-in;
}


#gal_droparea {
    position: relative;
    clear: both;

    margin-top: 30px;
    transform: translateY(50px);

}

#gal_droparea h3 {
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
    background: rgba(10, 10, 10, .9);
    color: #fafffa;

}




ul#gal_list {
    border: 1px solid #112233;
    width: 92%;
    height: auto;
    min-height: 200px;
    float: left;
    position: relative;
    left: 0px;
    top: 0px;
    list-style-type: none;
    background-color: rgba(0, 0, 0, .7);
    /* margin-top: -19px; */
    margin-top: 0px;
}

ul#gal_list li {
    list-style-type: none;
    width: 30%;
    display: block;
    float: left;
    padding: 5px;
    border: 1px solid #223344;
    color: rgb(200, 200, 200);
    font-family: Cochin, Cambria, Georgia, Times, 'Times New Roman', serif;


}

ul#gal_list li img {
    position: relative;
    left: 10px;
    top: 10px;
}


div.gal_leftButton {
    position: absolute;
    z-index: 10;

    float: left;
    margin-left: 5px;

    width: 40px;
    background-color: #112233;
    opacity: .5;


}

.gal_clearfix:after {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
}