div.gal_scene{
    /*position: relative;*/
    width: 800px;
    height: 300px;
    background-color: #333333;
    
}

div.gal_button{
    float: left;
 /*   border: 1px solid #000000;*/
    margin: 1px;
    height: 100px;
    position: relative;
    
    
}
/*div.gal_button img.gal_img{
    opacity: .7
}*/
div.gal_enlarged{
    position: absolute;
    z-index: 3;
    background-color: #fdfdfd;
    /*border: 1px solid yellow;*/
    
}
img.gal_close{
    float: right;
    /*border-left: 100px solid #000000;*/
    margin-left: 2px;
    
}

img.gal_left{
    float: right;
    /*border-left: 100px solid #000000;*/
    
}

img.gal_right{
    float: right;
    /*border-left: 100px solid #000000;*/
        margin-left: 2px;
}






.wrapper{
    
}